#F:\Documents\_Speciale\Code\simulation_results
\**
/Code/simulation_results/
/Code/production/simulation_results/
/Code/production2/simulation_results/
/Code/__pycache__/
/Code/functions/__pycache__/
